[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
langchain = "*"
langchain-core = "*"
langchain-community = "*"
langchain-groq = "*"
openai = "*"
unstructured = "*"
pymupdf = "*"
sentence-transformers = "*"
faiss-cpu = "*"
pydantic-settings = "*"
chromadb = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.14"
